---
import Layout from "../layouts/Layout.astro";
---

<Layout class="about" title="About">
  <main class="region-content about">
    <div class="region">
      <div class="column column-first">
        <div class="field-body">
          <div class="field-label">
            <span>About</span>
          </div>

          <h1>Let me introduce myself first</h1>

          <div class="field-heading">
            <p>Want to know more about me ? Keep reading down below.</p>
          </div>

          <p>
            I'm a 22 graphic designer student in Lausanne, Switzerland. I’ll be
            graduated as Swiss graphic designer on June 2024. I’m looking
            froward to start my professional life in Switzerland or abroad. I’m
            open-minded for every of your collaboration or job offer.
          </p>

          <p>
            Creative. Organised. Passionate. Independent. Attentive. Driven.
            Hard worker.
          </p>

          <p>
            I’ve just had my first work experience in Tokyo during a five month
            internship. I’m now the proud graphic designer of Living Kanji
            project directed by Hami Miharu Matsunaga and Adam Gotherlf from
            Dentsu Inc. I also had the chance to accomplish some flyers,
            buissness cards and beers stickers for small customers.
          </p>

          <div class="field-action">
            <p>
              <a href="/contact" title="Contact me"> Contact me now.</a><br />
              Or see my works<br />
              <a href="/works" title="See my works">here</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column column-second">
        <div class="field-image">
          <div class="background">
            <img
              src="/portfolio-about.png"
              alt="Picture of me, Chiara Mendolia, your future graphic designer!?"
              width="200"
              height="200"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
