---
import Layout from "../layouts/Layout.astro";
---

<Layout class="about" title="About">
  <main class="region-content about">
    <div class="region">
      <div class="column column-first">
        <div class="field-body">
          <div class="field-label">
            <span>About</span>
          </div>

          <h1>Let me introduce myself first</h1>

          <div class="field-heading">
            <p>Want to know more about me ? Keep reading down below.</p>
          </div>

          <p>
            I'm a 21 graphic designer student in Lausanne, Switzerland. I'm
            learning the swiss graphic design on the benches of Eracom, an art
            and communication school in Lausanne, Switzerland. I'm looking for a
            five months internship to improve my junior skills in graphic
            design. I'm available from august 2023.
          </p>

          <p>
            Creative. Organised. Passionate. Independent. Attentive. Driven.
            Hard worker.
          </p>

          <p>
            I had the chance to accomplish some flyers, buissness cards and
            beers stickers for customers. It would be an honor to improve those
            skills with your team.
          </p>
          <p>
            Discovering the graphic design standards of another country would be
            an unforgettable experience for me and would complete my schooling
            the best way.
          </p>

          <div class="field-action">
            <p>
              <a href="/contact" title="Contact me"> Contact me now.</a><br />
              Or see my works<br />
              <a href="/works" title="See my works">here</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column column-second">
        <div class="field-image">
          <div class="background">
            <img
              src="portfolio-about.png"
              alt="Picture of me, Chiara Mendolia, your future graphic designer!?"
              width="200"
              height="200"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
