---
import Layout from "../layouts/Layout.astro";
---

<Layout class="contact" title="Contact">
  <main class="region-content contact">
    <div class="region">
      <div class="column column-first">
        <div class="field-body">
          <div class="field-label">
            <span>Contact</span>
          </div>
          <h1>Nice to meet you, I'm Chiara Mendolia</h1>
          <div class="field-action">
            <p>
              Lausanne. Switzerland.<br />
              <a href="Call me!">+41 78 862 97 87</a><br />
              <a href="Write to me!">chiara@mendolia.ch</a>
            </p>
          </div>
          <p>
            Feel free to contact me for more information. I'd be grateful to
            chat with you by phone or by mail.
          </p>
        </div>
      </div>

      <div class="column column-second">
        <div class="field-image">
          <div class="background">
            <img
              src="/portfolio-contact.png"
              alt="Tell me where I need to go next to work with you ;)"
              width="200"
              height="200"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
