---
import Layout from "../layouts/Layout.astro";
---

<Layout class="contact" title="Contact">
  <main class="region-content contact">
    <div class="region">
      <div class="column column-first">
        <div class="field-body">
          <p class="field-label">
            <span>Contact</span>
          </p>
          <h1>Nice to meet you, I'm Chiara Mendolia</h1>
          <p class="field-action">
            Lausanne. Switzerland.<br />
            <a href="#">+41 78 862 97 87</a><br />
            <a href="#">chiara@mendolia.ch</a>
          </p>
          <p>
            Feel free to contact me for more informations. I'd love to chat with
            you by phone but I can make an exeption for the shy ones and get to
            know by mail.
          </p>
        </div>
      </div>

      <div class="column column-second">
        <div class="field-image">
          <img
            src="placeholder.jpg"
            alt="Tell me where I need to go next to work with you ;)"
            width="200"
            height="200"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>
