---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";

const posts = await Astro.glob("./works/*.mdx");
---

<Layout class="home" title="Chiara Mendolia">
  <main class="region-content home">
    <div class="region">
      <div class="column column-first">
        <div class="field-body">
          <h1>
            Are you <br />looking for <br />a new junior <br />
            <span class="color"> graphic designer</span>?
          </h1>
        </div>
      </div>
      <div class="column column-second">
        <div class="field-body">
          <p>
            <strong>Don't look further!</strong>
            <br />I'm available for an internship
            <br /> from august 2023.
          </p>
          <p><span class="me">Chiara Mendolia</span></p>
        </div>
      </div>
    </div>

    <div class="region no-flex">
      <div class="field-list">
        <ul>
          {
            posts.map((post) => {
              return (
                <li>
                  <div class="work-teaser">
                    <div class="layout">
                      <div class="layout_image">
                        <div class="field-image">
                          <img
                            src={post.thumb}
                            width="200"
                            height="200"
                            alt="Teaser of : post.title"
                          />
                        </div>
                      </div>
                      <div class="layout_content">
                        <h2>{post.title}</h2>
                        <time>{post.year}</time>
                        <a href={post.url}>See this work</a>
                      </div>
                    </div>
                  </div>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </main>
</Layout>
