---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="region-content legal">
    <div class="region">
      <div class="column">
        <div class="field-body">
          <h1>Lorem ipsum dolor</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
            vel, repellat vitae dolorem, aliquam minus deleniti fugit a ad
            officia mollitia cumque laudantium inventore, dolores praesentium
            veritatis dolorum ut natus?
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
