---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("./works/*.mdx");
---

<Layout title="My first steps into graphic design">
  <main class="region-content works">
    <div class="region">
      <div class="column column-first">
        <div class="field-body">
          <div class="field-label">
            <span>Works</span>
          </div>
          <h1>My first steps into graphic design</h1>
          <div class="field-heading">
            <p>Downloading...</p>
          </div>
          <p>
            During my 2 years in eracom, I learnt a lot about swiss graphic
            design. You can see down below some graphic composition I’ve done. I
            learnt to structure and organize the space following the swiss
            graphic grid but I can also use my digital illustration to break it
            down. <br />
            Branding work interest me a lot. I would say it’s very important to me
            to design visuals that are meaningful and consistent with the project’s
            direction.
          </p>

          <div class="field-heading">
            <p>Branding. Illustration. Photography. Graphic composition.</p>
          </div>

          <div class="field-action">
            <p>
              <a href="/contact">Contact me now.</a>
              <br />
            </p>
            Or see my works
            <a href="/works" title=""> here</a>
          </div>
        </div>
      </div>
      <div class="column colmun-second">
        <div class="field-list">
          <ul>
            {
              posts.map((post) => {
                console.log(post.getHeadings);
                return (
                  <li>
                    <div class="work-teaser">
                      <div class="layout">
                        <div class="layout_image">
                          <div class="field-image">
                            <img src={post.thumb} width="200" height="200" />
                          </div>
                        </div>
                        <div class="layout_content">
                          <h2>{post.title}</h2>
                          <time>{post.year}</time>
                          <a href={post.url}>See this work</a>
                        </div>
                      </div>
                    </div>
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
