---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="region-content works">
    <div class="region">
      <div class="column column-first">
        <div class="field-body">
          <p class="field-label">
            <span>Works</span>
          </p>
          <h1>My first steps into graphic design</h1>
          <p class="field-heading">Subtitle</p>
          <p>Long description</p>

          <p class="field-heading">
            Branding. Illustration. Photography. Graphic composition
          </p>

          <p class="field-action">
            <a href="/contact">Contact me now.</a><br />
            Or see my works<a href="/works" title="">here</a>
          </p>
        </div>
      </div>
      <div class="column colmun-second">
        <div class="field-list">
          <ul>
            <li>
              <div class="work-teaser">
                <div class="field-image">
                  <img src="placeholder.jpg" alt="" width="200" />
                </div>
                <h2>Title of project</h2>
                <time>2022</time>
                <a href="/work" title="See [Project name]">See [Project name]</a
                >
              </div>
            </li>
            <li>
              <div class="work-teaser">
                <div class="field-image">
                  <img src="placeholder.jpg" alt="" width="200" height="200" />
                </div>
                <h2>Title of project</h2>
                <time>2022</time>
                <a href="/work" title="See [Project name]">See [Project name]</a
                >
              </div>
            </li>
            <li>
              <div class="work-teaser">
                <div class="field-image">
                  <img src="placeholder.jpg" alt="" width="200" height="200" />
                </div>
                <h2>Title of project</h2>
                <time>2022</time>
                <a href="/work" title="See [Project name]">See [Project name]</a
                >
              </div>
            </li>
            <li>
              <div class="work-teaser">
                <div class="field-image">
                  <img src="placeholder.jpg" alt="" width="200" height="200" />
                </div>
                <h2>Title of project</h2>
                <time>2022</time>
                <a href="/work" title="See [Project name]">See [Project name]</a
                >
              </div>
            </li>
            <li>
              <div class="work-teaser">
                <div class="field-image">
                  <img src="placeholder.jpg" alt="" width="200" height="200" />
                </div>
                <h2>Title of project</h2>
                <time>2022</time>
                <a href="/work" title="See [Project name]">See [Project name]</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
