<footer class="region-footer">
  <div class="region">
    <div class="block-copyright">
      <p>
        <small>
          Copyright © 2022 by Chiara Mendolia.
          <a href="/legal" title="Read legal notice">Legal notice</a>
        </small>
      </p>
    </div>
    <div class="block-back-top">
      <small
        ><a href="#top" title="Back to top"><span>Back to top</span></a>
      </small>
    </div>
  </div>
</footer>
