<header class="region-header">
  <div class="region">
    <div class="block-branding">
      <a href="/" title="Home">CM</a>
    </div>
    <div class="block-contact">
      <ul>
        <li>
          <a
            href="mailto:chiara@mendolia.ch"
            title="Write me"
            class="icon icon-mail"
          >
            <span class="icon-label"
              >chiara<span class="color">@</span>mendolia.ch</span
            >
          </a>
        </li>
        <li>
          <a href="tel:+41788629787" title="Call me!" class="icon icon-phone">
            <span class="icon-label"
              ><span class="color">+41</span> 78 862 97 87</span
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
