<header class="region-header">
  <div class="region">
    <div class="block-branding">
      <p><a href="/" title="Home">CM</a></p>
    </div>
    <div class="block-contact">
      <ul>
        <li>
          <a href="mailto:chiara@mendolia.ch" title="Write me">
            <span class="icon">...</span>
            chiara<span class="color">@</span>mendolia.ch</a
          >
        </li>
        <li>
          <a href="tel:+41788629787" title="Call me">
            <span class="icon">...</span>
            <span class="color">+41</span> 78 862 97 87</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
