<div class="block-menu">
  <ul>
    <li>
      <a href="/works" title="My works"> Works</a>
    </li>
    <li>
      <a href="/about" title="About me"> About</a>
    </li>
    <li>
      <a href="/contact" title="Contact me"> Contact</a>
    </li>
  </ul>
</div>
