<div class="block-menu">
  <ul>
    <li>
      <a href="/works" title="My works">
        <span class="color">Works</span>
      </a>
    </li>
    <li>
      <a href="/about" title="About me">
        <span class="color">About</span>
      </a>
    </li>
    <li>
      <a href="/contact" title="Contact me">
        <span class="color">Contact</span>
      </a>
    </li>
  </ul>
</div>
