.region-header {
  background-color: blue;
  height: 6rem;
  .region {
    display: flex;
    > *:nth-child(1) {
      background-color: pink;
      width: 6rem;
    }

    > *:nth-child(2) {
      background-color: orange;
      width: calc(100% - 6rem);
    }
  }
}

.block-branding {
  p {
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      min-height: 6rem;
    }
  }
}

.block-contact {
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        min-height: 6rem;
      }
    }
  }
}
