.region-footer {
  @media all and (max-width: 639px) {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }

  @media all and (min-width: 640px) {
    padding: 0.5rem 0.5rem;
    position: absolute;
    bottom: 0;
    right: 6rem;
    transform: rotate(90deg);
    transform-origin: bottom right;
    height: 6rem;
  }

  .region {
    @media all and (min-width: 640px) {
      display: flex;
      > * {
        padding: 0 0.5rem;
      }
    }
  }

  a {
    color: $color;
    @media all and (max-width: 639px) {
      display: block;
      width: 100%;
    }
  }

  .block-back-top {
    @media all and (max-width: 639px) {
      a {
        text-align: right;
      }
    }
  }

  .block-back-top,
  .block-copyright {
    @media all and (min-width: 640px) {
      text-align: right;
    }
    small {
      font-size: 0.7rem;
    }
  }
  @media all and (min-width: 768px) {
    .block-back-top {
      display: none;
    }
  }
}
