.region-content .region:not(.no-flex) {
  display: flex;
  @media all and (max-width: 999px) {
    flex-direction: column;
  }
  @media all and (min-width: 1000px) {
    flex-direction: row;
    > .column {
      width: 50%;
    }
  }
  > .column {
    @media all and (max-width: 999px) {
    }
    @media all and (min-width: 1000px) {
      height: calc(100vh - 6rem);
    }
    &.column-first {
      @media all and (max-width: 767px) {
        padding: 3rem;
      }
      @media all and (min-width: 768px) {
        padding: 10rem;
      }
    }
  }
}

.column {
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px rgba(#000000, 0.1);
    border-radius: 15px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 15px;
  }
}

/* ------------------------------------------- reverse */

.region-content.works .region,
.region-content.work .region,
.region-content.contact .region {
  @media all and (min-width: 1000px) {
    flex-flow: row-reverse;
  }
}

/* ------------------------------------------- mobile */
.region-content.contact .region,
.region-content.about .region,
.region-content.legals .region {
  @media all and (max-width: 999px) {
    flex-flow: column-reverse;
  }
}

/* ------------------------------------------- specific for home */

.home {
  .column.column-first {
    .field-body:after {
      display: none;
    }
  }
  .column.column-second {
    @media all and (max-width: 767px) {
      padding: 3rem;
    }
    @media all and (min-width: 768px) {
      padding: 10rem !important;
    }

    @media all and (min-width: 1000px) {
      padding-top: 45vh;
    }
  }

  .region-content .region:not(.no-flex) {
    > .column {
      @media all and (min-width: 1000px) {
        height: auto;
      }
    }
  }

  .layout-header {
    text-align: center;
    h2 {
      line-height: 1em;
      letter-spacing: -0.25rem;
      font-family: "space-mono", arial, sans-serif;
      margin-top: 0.5em;
      @media all and (max-width: 1199px) {
        font-size: 3.25rem;
      }
      @media all and (min-width: 1200px) {
        font-size: 4.25rem;
      }
    }
  }
}

/* ------------------------------------------- background image */

.region-content.contact .region,
.region-content.about .region,
.region-content.legals .region {
  .field-image {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    &::before,
    &::after {
      content: "";
      display: block;
      height: 50%;
      position: absolute;
      left: 0;
      border-top: 1px solid black;
      border-right: 1px solid black;
      z-index: -1;
      -webkit-border-top-right-radius: 6rem;
      -moz-border-radius-topright: 6rem;
      border-top-right-radius: 6rem;
      background-color: #e5e5e5;
    }
    &:before {
      bottom: 1.5rem;
      width: calc(100% - 4.5rem);
      z-index: -1;
    }
    &:after {
      bottom: 3rem;
      width: calc(100% - 9rem);
      z-index: -2;
    }

    .background {
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        z-index: -1;
        -webkit-border-top-right-radius: 6rem;
        -moz-border-radius-topright: 6rem;
        border-top-right-radius: 6rem;
      }
    }
  }
}

.region-content.about .region,
.region-content.legals .region,
.region-content.contact .region {
  .field-image {
    transform: scaleX(-1);
    img {
      transform: scaleX(-1);
    }
  }
}

.column-second {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
