.region-header {
  height: 6rem;
  .region {
    display: flex;
    > *:nth-child(1) {
      width: 6rem;
    }

    > *:nth-child(2) {
      width: calc(100% - 6rem);
    }
  }
}

.block-branding {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tiny Font 160";
    padding: 1rem;
    font-size: 3rem;
    width: 6rem;
    height: 100%;
  }
}

.block-contact {
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5rem;
    li {
      a {
        display: flex;
        align-items: center;
        padding: 1rem;
        min-height: 6rem;
        &.icon::before {
          content: "";
          display: block;
          width: 3rem;
          height: 3rem;
        }
        &.icon-mail::before {
          background-image: url(/src/assets/icons/portfolio-icone-mail.svg);
        }
        &.icon-phone::before {
          background-image: url(/src/assets/icons/portfolio-icone-phone.svg);
        }
      }
    }
  }
}
