.region-header {
  @media all and (max-width: 767px) {
    height: 4.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #e5e5e5;
  }
  @media all and (min-width: 768px) {
    height: 6rem;
  }
  .region {
    display: flex;
    > *:nth-child(1) {
      width: 6rem;
    }

    > *:nth-child(2) {
      @media all and (max-width: 767px) {
        width: calc(100% - 4.5rem);
      }
      @media all and (min-width: 768px) {
        width: calc(100% - 6rem);
      }
    }
  }
  @media all and (max-width: 767px) {
    border-bottom: 1px solid black;
    padding-right: 6rem;
  }
}

.block-branding {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tiny Font 160";
    padding: 1rem;
    font-size: 3rem;
    width: 6rem;
    height: 100%;
  }
}

.block-contact {
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5rem;
    li {
      a {
        display: flex;
        align-items: center;
        padding: 1rem;
        @media all and (max-width: 767px) {
          min-height: 4.5rem;
        }
        @media all and (min-width: 768px) {
          min-height: 6rem;
        }
        &.icon::before {
          content: "";
          display: block;
          @media all and (max-width: 767px) {
            width: 2.25rem;
            height: 2.25rem;
          }
          @media all and (min-width: 768px) {
            width: 3rem;
            height: 3rem;
          }
        }
        &.icon-mail::before {
          background-image: url(/src/assets/icons/portfolio-icone-mail.svg);
        }
        &.icon-phone::before {
          background-image: url(/src/assets/icons/portfolio-icone-phone.svg);
        }
        @media all and (max-width: 767px) {
          > span {
            display: none;
          }
        }
      }
    }
  }
}
