/* ------------------------------------------- fonts */

@import url("https://use.typekit.net/rpd5byc.css");

/* ------------------------------------------- fontface */

@font-face {
  font-family: "Tiny Font 160";
  src: url("../../assets/fonts/tinyfont/TINY5x3-160.woff2") format("woff2"),
    url("../../assets/fonts/tinyfont/TINY5x3-160.woff") format("woff");
}

/* ------------------------------------------- CSS */

@import "fields/field-body";
@import "fields/field-image";

@import "regions/region-header";
@import "regions/region-footer";
@import "regions/region-nav";
@import "regions/region-content";

/* ------------------------------------------- resets */

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* ------------------------------------------- html, body */

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  color: black;
  font-family: "aktiv-grotesk", arial, sans-serif;
  background-color: #e5e5e5;
}

/* ------------------------------------------- links */

a {
  font-family: "space-mono", monospace;
  text-decoration: none;
  color: black;
}

/* ------------------------------------------- wrapper */

.wrapper {
  @media all and (min-width: 768px) {
    .column {
      overflow-y: scroll;
    }
  }
}
