---
import "../assets/styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

export interface Props {
  title: string;
  className: string;
}

const { title, class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={className}>
    <span id="top"></span>
    <div class="wrapper">
      <Header />
      <nav class="region-nav">
        <div class="region">
          <input type="checkbox" id="toggleMenu" />
          <label for="toggleMenu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 170.07874 170.07874"
              width="60"
              height="60"
            >
              <path
                d="m76.68648,77.00907h-28.36389v-28.36389h28.36389v28.36389Zm45.06967-28.36389h-28.36389v28.36389h28.36389v-28.36389Zm-45.06967,44.42449h-28.36389v28.36389h28.36389v-28.36389Z"
              ></path>
            </svg>
          </label>
          <Nav />
        </div>
      </nav>

      <slot />

      <Footer />
    </div>
  </body>
</html>
